mixin list(items)
		- each item in items
			li= item

mixin link(href, name)
	a(class=attributes.class, href=href)= name

mixin style(url)
	link(rel="stylesheet", href=url)

mixin script(url)
	script(async, src=url)

mixin h5()
	!!!
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

